<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      Reset password page
      <form
        action="http://localhost:3000/api/auth/update-password/<%=user_id%>"
        method="post"
      >
        <input type="text" placeholder="password" name="password" required />
        <input type="text" placeholder="confirm password" required />
        <input type="submit" value="Reset" />
      </form>
    </div>
  </body>
</html>